<form class="{{cssClass}} {{actor.type}} flexcol actorSheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" class="actorName"/></h1>
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <div>
            <img class="pvpe" src="systems/shinzo/assets/sheet/coeur.png" />
            <input type="text" class="inputPvPe" name="system.health.max" value="{{system.health.max}}" data-dtype="Number">
          </div>
          <div class="resDegatContainer">
            <div>
            <img class="rdp" src="systems/shinzo/assets/sheet/Bphysique.png"/>
            <span class="resDegatValue resPhys" type="text" name="system.rdp.res_physique.value" data-dtype="Number">{{system.rdp.res_physique.value}}</span>
            </div>
            <div>
              <img class="rdp" src="systems/shinzo/assets/sheet/sword.png"/>
              <span class="resDegatValue degPhys" type="text" name="system.rdp.deg_physique.value" data-dtype="Number">{{system.rdp.deg_physique.value}}</span>
            </div>
          </div>
        </div>

        <div class="resource flex-group-center ppWrapper">
          <img class="profile-img ppActor" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
          <img class="ppCadre" src="systems/shinzo/assets/sheet/cadre2.png" />
        </div>

        <div class="resource flex-group-center">
          <div>
            <img class="pvpe" src="systems/shinzo/assets/sheet/pe.png" />
            <input type="text" class="inputPvPe pe" name="system.power.max" value="{{system.power.max}}" data-dtype="Number">
          </div>
            <div class="resDegatContainer">
              <div>
              <img class="rdp" src="systems/shinzo/assets/sheet/staff.png"/>
              <span class="resDegatValue degMag" type="text" name="system.rdm.deg_magique.value" data-dtype="Number">{{system.rdm.deg_magique.value}}</span>
              </div>
              <div>
                <img class="rdp" src="systems/shinzo/assets/sheet/Bmagique.png"/>
                <span class="resDegatValue resMag" type="text" name="system.rdm.deg_magique.value" data-dtype="Number">{{system.rdm.deg_magique.value}}</span>
              </div>
          </div>
        </div>
      </div>

      <!--div class="resource flex-group-center">
        <label for="system.valuation.value" class="resource-label">Evaluation : {{system.valuation.value}}</label>
      </div-->
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="stat">Statistiques</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="spells">Capacités</a>
    <a class="item" data-tab="items">Bagages</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab features" data-group="primary" data-tab="stat">
      {{> "systems/shinzo/templates/actor/parts/actor-stats.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{> "systems/shinzo/templates/actor/parts/actor-description.hbs"}}
      <h4 class="titleActorPages">Histoire</h4>
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/shinzo/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab & Owned Features Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      <h4 class="titleActorPages">Traits</h4>
      {{> "systems/shinzo/templates/actor/parts/actor-traits.hbs"}}
      <h4 class="titleActorPages">Compétences</h4>
      {{> "systems/shinzo/templates/actor/parts/actor-competences.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/shinzo/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
