<form class='{{cssClass}}' autocomplete="off">

    <!-- Effect Header -->
    <header class="sheet-header">
        <img class="effect-icon" src="{{ data.img }}" data-edit="img">
        <h1 class="effect-title"><input type="text" name="label" value="{{ data.name }}" placeholder="Name"/></h1>
    </header>

    <!-- Effect Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
        <a class="item" data-tab="duration"><i class="fas fa-clock"></i> {{localize "EFFECT.TabDuration"}}</a>
        <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "EFFECT.TabEffects"}}</a>
    </nav>

    <!-- Details Tab -->
    <section class="tab" data-tab="details">

        <div class="form-group">
            <label>{{ localize "EFFECT.Tint" }}</label>
            <div class="form-fields">
                <input class="color" type="text" name="tint" value="{{data.tint}}"/>
                <input type="color" value="{{data.tint}}" data-edit="tint"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.Disabled" }}</label>
            <input type="checkbox" name="disabled" {{ checked data.disabled }}/>
        </div>

        {{#if isActorEffect}}
        <div class="form-group">
            <label>{{ localize "EFFECT.Origin" }}</label>
            <div class="form-fields">
                <input type="text" name="origin" value="{{ data.origin }}" disabled/>
            </div>
        </div>
        {{/if}}

        {{#if isItemEffect}}
        <div class="form-group">
            <label>{{ localize "EFFECT.Transfer" }}</label>
            <div class="form-fields">
                <input type="checkbox" name="transfer" {{checked data.transfer}}/>
            </div>
        </div>
        {{/if}}
    </section>

    <!-- Duration Tab -->
    <section class="tab" data-tab="duration">
        <div class="form-group">
            <label>{{ localize "EFFECT.DurationSecs" }}</label>
            <div class="form-fields">
                <input type="number" name="duration.seconds" value="{{ data.duration.seconds }}"/>
            </div>
        </div>
        <div class="form-group">
            <label>{{ localize "EFFECT.StartTime" }}</label>
            <div class="form-fields">
                <input type="number" name="duration.startTime" value="{{ data.duration.startTime }}"/>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label>{{ localize "EFFECT.DurationTurns" }}</label>
            <div class="form-fields">
                <label>{{ localize "COMBAT.Rounds" }}</label>
                <input type="number" name="duration.rounds" value="{{ data.duration.rounds }}"/>
                <label>{{ localize "COMBAT.Turns" }}</label>
                <input type="number" name="duration.turns" value="{{ data.duration.turns }}"/>
            </div>
        </div>
        <div class="form-group">
            <label>{{ localize "EFFECT.Combat" }}</label>
            <div class="form-fields">
                <input type="text" name="duration.combat" value="{{ data.duration.combat }}" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.StartTurns" }}</label>
            <div class="form-fields">
                <label>{{ localize "COMBAT.Round" }}</label>
                <input type="number" name="duration.startRound" value="{{ data.duration.startRound }}"/>
                <label>{{ localize "COMBAT.Turn" }}</label>
                <input type="number" name="duration.startTurn" value="{{ data.duration.startTurn }}"/>
            </div>
        </div>
    </section>

    <!-- Effects Tab -->
    <section class="tab" data-tab="effects">
        <header class="effect-change effects-header flexrow">
            <div class="key">{{ localize "EFFECT.ChangeKey" }}</div>
            <div class="mode">{{ localize "EFFECT.ChangeMode" }}</div>
            <div class="value">{{ localize "EFFECT.ChangeValue" }}</div>
            <div class="effect-controls">
                <a class="effect-control" data-action="add"><i class="far fa-plus-square"></i></a>
            </div>
        </header>
        <ol class="changes-list">
            {{#each data.changes as |change i|}}
            <li class="effect-change flexrow" data-index="{{i}}">
                <div class="key">
                    <select class="effectStatChoice" name="changes.{{i}}.key">
                        <option value="0" {{#if (eq change.key "0")}}selected{{/if}} selected></option>
                        <option value="system.health.max" {{#if (eq change.key "system.health.max")}}selected{{/if}}>PV max</option>
                        <option value="system.power.max" {{#if (eq change.key "system.power.max")}}selected{{/if}}>PE max</option>

                        <option value="system.gds_stats.con.value" {{#if (eq change.key "system.gds_stats.con.value")}}selected{{/if}}>Constitution</option>
                        <option value="system.gds_stats.con.b_m" {{#if (eq change.key "system.gds_stats.con.b_m")}}selected{{/if}}>Constitution | Brut</option>
                        <option value="system.gds_stats.agi.value" {{#if (eq change.key "system.gds_stats.agi.value")}}selected{{/if}}>Agilité</option>
                        <option value="system.gds_stats.agi.b_m" {{#if (eq change.key "system.gds_stats.agi.b_m")}}selected{{/if}}>Agilité | Brut</option>
                        <option value="system.gds_stats.men.value" {{#if (eq change.key "system.gds_stats.men.value")}}selected{{/if}}>Mental</option>
                        <option value="system.gds_stats.men.b_m" {{#if (eq change.key "system.gds_stats.men.b_m")}}selected{{/if}}>Mental | Brut</option>
                        <option value="system.gds_stats.mag.value" {{#if (eq change.key "system.gds_stats.mag.value")}}selected{{/if}}>Magie</option>
                        <option value="system.gds_stats.mag.b_m" {{#if (eq change.key "system.gds_stats.mag.b_m")}}selected{{/if}}>Magie | Brut</option>
                        <option value="system.gds_stats.cha.value" {{#if (eq change.key "system.gds_stats.cha.value")}}selected{{/if}}>Charisme</option>
                        <option value="system.gds_stats.cha.b_m" {{#if (eq change.key "system.gds_stats.cha.b_m")}}selected{{/if}}>Charisme | Brut</option>
                        <option value="system.gds_stats.sav.value" {{#if (eq change.key "system.gds_stats.sav.value")}}selected{{/if}}>Savoir</option>
                        <option value="system.gds_stats.sav.b_m" {{#if (eq change.key "system.gds_stats.sav.b_m")}}selected{{/if}}>Savoir | Brut</option>

                        <option value="system.maitrises.cor.b_m" {{#if (eq change.key "system.maitrises.cor.b_m")}}selected{{/if}}>Corps</option>
                        <option value="system.maitrises.esp.b_m" {{#if (eq change.key "system.maitrises.esp.b_m")}}selected{{/if}}>Esprit</option>
                        <option value="system.maitrises.soc.b_m" {{#if (eq change.key "system.maitrises.soc.b_m")}}selected{{/if}}>Social</option>

                        <option value="system.ss_stats.ss_stats1.pug.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.pug.b_m")}}selected{{/if}}>Pugilat</option>
                        <option value="system.ss_stats.ss_stats1.cac.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.cac.b_m")}}selected{{/if}}>Arme Cac</option>
                        <option value="system.ss_stats.ss_stats1.pre.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.pre.b_m")}}selected{{/if}}>Précision</option>
                        <option value="system.ss_stats.ss_stats1.esq.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.esq.b_m")}}selected{{/if}}>Esquive</option>
                        <option value="system.ss_stats.ss_stats1.par.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.par.b_m")}}selected{{/if}}>Parade</option>
                        <option value="system.ss_stats.ss_stats1.dis.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.dis.b_m")}}selected{{/if}}>Discrétion</option>
                        <option value="system.ss_stats.ss_stats1.obs.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.obs.b_m")}}selected{{/if}}>Observation</option>
                        <option value="system.ss_stats.ss_stats1.per.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.per.b_m")}}selected{{/if}}>Perception</option>
                        <option value="system.ss_stats.ss_stats1.psy.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.psy.b_m")}}selected{{/if}}>Psyché</option>
                        <option value="system.ss_stats.ss_stats1.int.b_m" {{#if (eq change.key "system.ss_stats.ss_stats1.int.b_m")}}selected{{/if}}>Intimidation</option>
                        <option value="system.ss_stats.ss_stats2.com.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.com.b_m")}}selected{{/if}}>Communication</option>
                        <option value="system.ss_stats.ss_stats2.aut.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.aut.b_m")}}selected{{/if}}>Autorité</option>
                        <option value="system.ss_stats.ss_stats2.med.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.med.b_m")}}selected{{/if}}>Médecine</option>
                        <option value="system.ss_stats.ss_stats2.pil.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.pil.b_m")}}selected{{/if}}>Pilotage</option>
                        <option value="system.ss_stats.ss_stats2.art.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.art.b_m")}}selected{{/if}}>Artisanat</option>
                        <option value="system.ss_stats.ss_stats2.vit.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.vit.b_m")}}selected{{/if}}>Vitesse</option>
                        <option value="system.ss_stats.ss_stats2.ins.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.ins.b_m")}}selected{{/if}}>Instinct</option>
                        <option value="system.ss_stats.ss_stats2.s_f.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.s_f.b_m")}}selected{{/if}}>Sang-froid</option>
                        <option value="system.ss_stats.ss_stats2.reg.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.reg.b_m")}}selected{{/if}}>Régénération de PV</option>
                        <option value="system.ss_stats.ss_stats2.rec.b_m" {{#if (eq change.key "system.ss_stats.ss_stats2.rec.b_m")}}selected{{/if}}>Récupération de PE</option>

                        <option value="system.rdp.deg_physique.b_m" {{#if (eq change.key "system.rdp.deg_physique.b_m")}}selected{{/if}}>Dégâts Physique</option>
                        <option value="system.rdm.deg_magique.b_m" {{#if (eq change.key "system.rdm.deg_magique.b_m")}}selected{{/if}}>Dégâts Magique</option>
                        <option value="system.rdp.res_physique.b_m" {{#if (eq change.key "system.rdp.res_physique.b_m")}}selected{{/if}}>Résistance Physique</option>
                        <option value="system.rdm.res_magique.b_m" {{#if (eq change.key "system.rdm.res_magique.b_m")}}selected{{/if}}>Résistance Magique</option>
                    </select>
                </div>
                <div class="mode">
                    <select name="changes.{{i}}.mode" data-dtype="Number">
                        {{selectOptions ../modes selected=change.mode}}
                    </select>
                </div>
                <div class="value">
                    <input type="text" name="changes.{{i}}.value" value="{{change.value}}"/>
                </div>
                <div class="effect-controls">
                    <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </section>

    <footer class="sheet-footer">
        <button type="submit"><i class="fas fa-save"></i> {{localize submitText}}</button>
    </footer>
</form>