<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>Qualité</label>
          <select
            name='system.quality'
            data-dtype='Number'
          >
          {{#select system.quality}}
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          {{/select}}
          </select>
        </div>
        <div class='resource'>
          <label class='resource-label'>Emplacement</label>
          <input type="text" name="system.poidsMax" value="{{system.poidsMax}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='contenue'>Contenue</a>
    <a class='item' data-tab='description'>Description</a>
    <a class='item' data-tab='effect'>Effet</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Effect Tab }}
    <div class='tab' data-group='primary' data-tab='contenue'>
      {{> "systems/shinzo/templates/item/parts/item-content.hbs"}}
    </div>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    <div class='tab' data-group='primary' data-tab='effect'>
        <textarea name='system.effect'data-dtype='text-area'>{{system.effect}}</textarea>
    </div>
  </section>
</form>